@font-face {
    font-family: hash;
    src: url(Brushed.ttf);
}

@font-face {
    font-family: hash1;
    src: url(SMARC.TTF);
}

*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 650px;
    background-color: #aeffae;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}

.header .snap-container {
    width: 25%;
    height: 500px;
    margin-left: 50%;
    margin-top: 3%;
    
    
    
    
}

.header-snap {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    opacity: 0.8;
}

.header .img-container {
    width: 50%;
    height: 500px;
    margin-top: -37%; 
   
}

.header-img{
    width: 65%;
    height: 100%;
     
}

.header .nav{
 margin-left: 70%;
 margin-top: -4%;
 overflow: hidden;
}

.header ul {
  display: flex;
  list-style: none;
  
}

.header ul li {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border: 3px solid rgb(82, 233, 12);
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.header ul li:hover {
    background: #23f523;
    color: white;
}

.header .header-snap-container {
    margin-left: 70%;
    width: 20%;
    height: 500px;
}

.header h3 {
    margin-left: 75%;
    margin-top: -30%;
   font-family: hash1;
   font-size: 50px;
   text-transform: capitalize;
}

.header .text-container {
    width: 20%;
    height: 400px;
    margin-left: 77%;
}

.header .text-container p {
    line-height: 25px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.header .header-btn{
    margin-left: 1%;
    width: 55%;
    height: 50px;
    cursor: pointer;
    background: rgba(47, 255, 57, 0.644);
    border-radius: 15px;
    border: none;
}

.header .social-icons {
    margin-top: -10%;
}

.header .social-icons img {
    width: 50px;
    height: 50px;
}

.header .social-icons h4 {
    font-size: 25px;
    
}

.header h4 {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 5%;
}

.header  h2 {
    margin-top: -35%;
    margin-left: 33%;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 55px;
}